<style type="text/css">
	nav {
		border-color: rgba(8, 8, 8, 0) !important;
		background-color: rgba(34, 34, 34, 0) !important;
	}

	nav > .container {
		position: relative;
		top: 5px;
	}

	.navbar-brand > img {
		height: 42px !important;
	}

	.main-img {
		float: left;
		margin-top: -72px;
		width: 100%;
	}

	.navbar-nav > li > a {
		color: white !important;
	}

	img.round-img {
		border-radius: 50%;
		width: 150px;
		position: absolute;
		top: -150px;
		left: 50%;
		transform: translateX(-50%);
		box-shadow: 0 0 15px rgba(0,0,0, 0.5);
	}
</style>

<div class="row" style="padding-bottom: 180px; position: relative; top: 105px;">
	<div class="col-md-6 col-xs-12" style="position: relative; text-align: center;">
		<%= image_tag 'person-blue.jpg', class: 'round-img' %>
		<h3 style="text-align: center;">For buyers</h3>
		<h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Access to charity events and other offers by RaXmat.ga</h4>
		<h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Donation options with verified charity organizations</h4>
		<h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Transparency of charity funds and reports</h4>
		<h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Products at low cost</h4>
		<h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Ownership to society</h4>
	</div>

	<div class="col-md-6 col-xs-12" style="position: relative; text-align: center;">
		<%= image_tag 'person-green.jpg', class: 'round-img' %>
		<h3 style="text-align: center;">For sellers</h3>
		<h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Access to charity events and other offers by RaXmat.ga</h4>
		<h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Easy to use market place</h4>
		<h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Positive image, giving</h4>
		<h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> No transaction costs</h4>
	</div>
</div>

<div class="row">
	<div class="col-md-9">
	  <% @items.each do |item| %>
	  <%= render item %>
      <% end %>
	</div>

	<div class="col-md-3" id="sidebar_cats">
		<%= link_to 'Add item', new_item_path, class: 'btn btn-primary btn-block btn-lg' %>
		<hr/>
		<div>
			<p class="lead">Categories</p>
		  <ul class="list-group">
		    <li class="list-group-item"><a href="#">Clothing and shoes</a></li>
	        <li class="list-group-item"><a href="#">Books</a></li>
	        <li class="list-group-item"><a href="#">Accessories</a></li>
	        <li class="list-group-item"><a href="#">Health and beauty</a></li>
	        <li class="list-group-item"><a href="#">Goods for home</a></li>
	        <li class="list-group-item"><a href="#">Other</a></li>
		  </ul>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {

    var $sidebar   = $("#sidebar_cats"), 
        $window    = $(window),
        offset     = $sidebar.offset(),
        top = offset.top,
        left = offset.left,
        topPadding = 15;

    $window.scroll(function() {
        if ($window.scrollTop() > offset.top) {
            /*$sidebar.stop().animate({
                marginTop: $window.scrollTop() - offset.top + topPadding
            });*/
            $sidebar.css({position: 'absolute', top: '15px', left: left});
        } else {
            /*$sidebar.stop().animate({
                marginTop: 0
            });*/
            $sidebar.css({position: 'absolute', top: top + 'px', left: left});
        }
    }); 
});
</script>
