<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Raxmat!</h1>
    <p>
      Welcome to Raxmat.kg, first online charity-shop in Kyrgyzstan,
      where you can not only buy or sell your goods but also benefit to your community!
      Shopping for a good cause.
    </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="row">
	<div class="col-md-9">
	  <% @items.each do |item| %>
      <%= render item %>
	  <% end %>
	</div>

	<div class="col-md-3">
		<%= link_to 'Add item', new_item_path, class: 'btn btn-success btn-block btn-lg' %>
		<hr/>
		<p class="lead">Categories</p>
	  <ul class="list-group">
	    <li class="list-group-item"><a href="#">Cras justo odio</a></li>
	    <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
	    <li class="list-group-item"><a href="#">Morbi leo risus</a></li>
	    <li class="list-group-item"><a href="#">Porta ac consectetur ac</a></li>
	    <li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
	  </ul>
	</div>
</div>
