<div class="row" style="padding-bottom: 80px; padding-top: 80px;">
	<div class="col-md-6 col-xs-12" style="position: relative;">
	  <%= image_tag 'person-blue.jpg', style: '
			  border-radius: 50%;border-radius: 50%;
				width: 150px;
				position: absolute;
				top: -150px;
				left: 50%;
				transform: translateX(-50%);
				box-shadow: 0 0 15px rgba(0,0,0, 0.5);'
	  %>
	  <h3 style="text-align: center;">For buyers</h3>
	  <h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Find products & reduced prices</h4>
		<h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Support your favorite cause</h4>
		<h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Safe money transactions</h4>
	</div>

	<div class="col-md-6 col-xs-12" style="position: relative;">
	  <%= image_tag 'person-green.jpg', style: '
			  border-radius: 50%;border-radius: 50%;
				width: 150px;
				position: absolute;
				top: -150px;
				left: 50%;
				transform: translateX(-50%);
				box-shadow: 0 0 15px rgba(0,0,0, 0.5);'
	  %>
		<h3 style="text-align: center;">For sellers</h3>
		<h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Perfect place for web hosting and advertising your products</h4>
		<h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> No additional commissions for selling</h4>
		<h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Help someone at no cost</h4>
	</div>
</div>

<div class="row">
	<div class="col-md-9">
	  <% @items.each do |item| %>
      <%= render item %>
	  <% end %>
	</div>

	<div class="col-md-3">
		<%= link_to 'Add item', new_item_path, class: 'btn btn-success btn-block btn-lg' %>
		<hr/>
		<div id="sidebar_cats">
			<p class="lead">Categories</p>
		  <ul class="list-group">
		    <li class="list-group-item"><a href="#">Cras justo odio</a></li>
		    <li class="list-group-item"><a href="#">Dapibus ac facilisis in</a></li>
		    <li class="list-group-item"><a href="#">Morbi leo risus</a></li>
		    <li class="list-group-item"><a href="#">Porta ac consectetur ac</a></li>
		    <li class="list-group-item"><a href="#">Vestibulum at eros</a></li>
		  </ul>
		</div>
	</div>
</div>
