<div class="row">
	<% @items.each do |item| %>
		<% 10.times do %>
		  <div class="col-xs-12 col-md-4">
		    <a href="/items/<% item.id %>">
		      <div class="item">
		        <%= image_tag "sticky_cards.jpg", class: 'item_image' %>
		        <div class="item-title">
		          <%= item.title %>
		        </div>
		        <div class="item-price">
		          <%= item.price %>
		        </div>
		      </div>
		    </a>
		  </div>
		<% end %>
	<% end %>
</div>

<%=link_to "Add new item", new_item_path %>
