//= require_tree ./components
//= require_self

*, *:before, *:after {
  box-sizing: border-box;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
